body {
  font-size: 14px;
  background-color: #e5e5e5;
  font-family: Roboto;
}
ion-icon {
  font-size: 24px;
}
.topbar {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.topbar img {
  width: 70px;
  height: 50px;
}
.topbar-items,
.input-row {
  width: 100%;
  margin: 0 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text-message {
  border: none;
}
.messages {
  margin: 90px 0;
}
.messages > * {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  border-radius: 2px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
}
.io-room > *,
.message > *,
.reserved > * {
  margin: 3px;
}
.io-room {
  background: #dcdcdc;
}
.message {
  background: #ffffff;
}
.reserved {
  background: #ffdede;
}
.time,
.from,
.to {
  font-weight: 700;
}

.write-message {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;

  background: #ffffff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container-side-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  transition: opacity 100ms ease-in-out 0s;
}

.side-bar {
  position: fixed;
  width: 350px;
  height: 100%;
  top: 0;
  right: -350px;
  bottom: 0;
  z-index: 1;
  background: #ffffff;
  transition: all 300ms ease-in-out 100ms;
}
.transition {
  right: 0;
}

.out-side-bar {
  position: fixed;
  width: calc(100% - 350px);
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 300ms ease-in-out 100ms;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 15px;
}
.contacts p {
  font-size: 16px;
  font-weight: 700;
}
.actual-contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact {
  margin: 4px 0;
  display: flex;
  align-items: center;
}
.contact > * {
  margin: 0 4px;
}
.login {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login img {
  margin: 80px 0;
}
.name-inputer {
  width: 261px;
  height: 54px;
  left: 57px;
  top: 258px;
  margin: 40px 0;

  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enter-name {
  width: 109px;
  height: 45px;
  left: 133px;
  top: 327px;

  background: #e7e7e7;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enter-name:focus {
  /*NOT WORKING*/
  outline: none !important;
}
.fake-space {
  height: 300px;
}
.clickable-icon:hover {
  cursor: pointer;
}
